.desc {
    width: 100%;
    padding-top: 100px;
    &-field {
        width: 43%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        &__text {
            margin-bottom: 45px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}