.swiper-container {
    width: 2154px;
    height: 1000px;
    @include phones {
        height: 25.5rem;
    }
    & .swipper-wrapper {
        width: 100%;
    }
    & .swipper-slide {
        width: 718px;
        
    }
}
  
  